[*.lua]
indent_size = 2
indent_style = space

# Consistent indentation for Godot projects.
# Copy and paste this in your own.

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# GDScript
[*.gd]
indent_style = space
indent_size = 4

# C#
[*.cs]
indent_style = space
indent_size = 4

